aoc
*.swp
Makefile.in
aclocal.m4
autom4te.cache
autom4te.cache/**
configure
src/Makefile.in
Makefile
config.h
config.log
config.status
src/.deps
src/.deps/aoc.Po
src/Makefile
src/*.o
stamp-h1
.env
.DS_Store
public
config.h.in~
compile
install-sh
depcomp
missing
ar-lib
config.guess
libtool
ltmain.sh
m4/
*.a
config.sub
src/modules/.deps
src/modules/.dirstamp
**/*.o
*.swp
**/.libs
*.la
*.priv
*.lo
config.site
aoc-cppcheck-build-dir
aoc-cppcheck-build-dir/**

.local-build.sh
src/aoc.exe

.Tpo
*.spdb
.ccls-cache

configure~
config.h.in
